<div
  class="w-full md:w-[350px] h-[450px] bg-WhiteDarkModeTextLightModeElements rounded-md shadow-md mb-12"
  [class.bg-WhiteDarkModeTextLightModeElements]="!isDarkMode"
  [class.bg-Dark-Blue-Dark-Mode-Elements]="isDarkMode"
>
  <div class="">
    <img class="w-full md:h-[200px] rounded-t-md" [src]="countryFlag" alt="" />
  </div>
  <div class="pl-12 py-8">
    <h3
      class="text-[18px] md:text-[23px] font-bold"
      [class.text-WhiteDarkModeTextLightModeElements]="isDarkMode"
    >
      {{ countryName }}
    </h3>
    <p
      class="text-[17px] font-bold py-1"
      [class.text-WhiteDarkModeTextLightModeElements]="isDarkMode"
    >
      Population: <span class="font-normal">{{ countryPopulation }}</span>
    </p>
    <p
      class="text-[17px] font-bold py-1"
      [class.text-WhiteDarkModeTextLightModeElements]="isDarkMode"
    >
      Region: <span class="font-normal">{{ countryRegion }}</span>
    </p>
    <p
      class="text-[17px] font-bold py-1"
      [class.text-WhiteDarkModeTextLightModeElements]="isDarkMode"
    >
      Capital: <span class="font-normal">{{ countryCapital }}</span>
    </p>
  </div>
</div>
